body {
    margin: 15px auto;
    text-align: center;
    color: #000;
    font-family: Helvetica, sans-serif;
    line-height:1.6em;
    font-size:16px;
    font-weight:normal;
}

img { border: 0; }
A:Link { color: #0066ff; text-decoration: none; }
A:Visited { color: #0066ff; text-decoration: none; }

h1 { font-size: 32px; margin: 0; font-weight: normal; }
h1 A:Hover { text-decoration: underline; }
h2 { font-size: 16pt; margin: 20px 0 0 0; font-weight: bold; } 

.author { font-size: 10pt; color: #666666; }
.clear  { width: 100%; clear: both; display: block; }
p { margin: 20px 0 20px 0; }

#body { margin-left: 200px; }
.blog { margin: 10px 0 10px 0; border-bottom: 1px solid #e3e3e3; }

#column_left { float: left; width: 200px;}
#column_right { float: left; width: 720px; margin: 20px 0 0 0; text-align: left; }

.comment { border-top: 1px solid #ccc; padding: 10px 0 10px 0; margin: 10px 0 10px 0; }
.comment_name { float: left; width: 150px; }
.comment_content { float: left; display: block; }

#footer { 
    font-size: 10pt;
    line-height: 1.2em;
    color: #333; 
    padding: 15px 0 0 0; 
    margin: 30px 0 0 0; 
    border-top: 1px solid #ccc;
}

label { width: 100px; display: block; clear: none; float: left; margin: 3px 0 3px 0; }
input { width: 300px; border: 1px solid #bbb; margin: 3px 0 3px 0; }
input[type=submit] { width: 90px; float: right; }

textarea { width: 760px; height: 200px; display: block; clear: both; border: 1px solid #bbb; }
#content { margin: -40px 0 40px 0; font-size: 10pt;  }
h1 { font-family: 'Lato', Helvetica, sans-serif; font-size: 22pt; font-weight: bold; color: black; }
h2 { font-family: 'Lato', Helvetica, sans-serif; font-size: 22pt; font-weight: bold; color: black; }
h3 { font-family: 'Lato', Helvetica, sans-serif; font-size: 12pt; font-weight: bold; color: black; }

#content p { font-size: 10pt; text-justify: newspaper; }
#content h1 { text-shadow: #fff 1px 1px 1px; }

div.project {
	display: block;
	clear: both;
	margin: 0 0 20px 0;
	padding: 20px 0;
	border-bottom: 1px solid #e3e3e3;
}

div.image { 
	float: left;
	clear: left;
	position: relative;
	width: 190px;
}

div.description { 
	float: left;
	position: relative;
	left: 10px;
	width: 560px;
	padding-left: 10px;
	clear: right;
	display: block;
}

#header { height: 100px; padding-top: 10px; }

#main { margin: 0 auto; width: 960px; text-align: left; position: relative; }

#nav { 
	padding: 4px;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	       -border-radius: 5px;
}
#nav UL { list-style-type: none; margin: 0; padding: 0; }
#nav UL LI { float: left; padding-right: 35px;  }
#nav UL LI A:Link, #nav UL LI A:Visited { text-decoration: none; font-weight: normal; font-size: 18px; }
#nav UL LI A:Hover { text-decoration: underline; }

#social { position: absolute; top: 30px; right: 0; }

span.code { 
	background-color: #EDEDF4; 
	padding: 3px;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	       -border-radius: 3px;
}

#recent { 
    padding-top: 50px; 
}

h1 a:Link, h1 a:visited {
    color: black; 
    text-decoration: none;
}

.entry_content p { 
    font-family: Helvetica, sans-serif; 
    color: #444;
    line-height: 1.6em;
}

p { 
    margin: 20px 0 20px 0;
}
